[Desktop Entry]
Icon=image-png
Name=2022-09-25_05-44.png
Type=Link
URL[$e]=file:$HOME/Pictures/2022-09-25_05-44.png
X-KDE-LastOpenedWith=okularApplication_kimgio
