[Desktop Entry]
Icon=image-png
Name=2022-09-22_09-43.png
Type=Link
URL[$e]=file:$HOME/Pictures/2022-09-22_09-43.png
X-KDE-LastOpenedWith=org.kde.gwenview
